@model MezoExperts.Models.Question

@{
    ViewBag.Title = "Details";
}
<div class="container">

    <div class="col-lg-8 col-lg-offset-2">
        <div class="col-lg-4">
            @Html.DisplayFor(m => m.Title)
        </div>
        <div class="col-lg-2 col-lg-offset-2">
            @Html.DisplayFor(m => m.Time)
        </div>
        <div class="col-lg-2">
            @Html.DisplayFor(model => model.Category.Id)
        </div>
    </div>

    <div class="col-lg-8 col-lg-offset-2">
        @Html.Raw(Model.Details)
    </div>

    @{if (WebSecurity.IsAuthenticated)
    {
        if (WebSecurity.CurrentUserId == Model.PostedBy || User.IsInRole("Expert"))
        {
            <div class="col-lg-8 col-lg-offset-2">
                @{Html.RenderAction("Create", "Reply", new { QuestionId = Model.Id });}
            </div>
        }
    }

    }


</div>
