@{
    ViewBag.Title = "Mezo Experts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header -->
<section style="background-image: url('../../Images/MezoImages/bluebacksmall.png');background-repeat:repeat ">

    <div class="container">
        <br />
        <form role="form" class="QuestionBox col-lg-8 col-lg-offset-2">
            <h4>Ask a question & get expert help</h4>
            <div class="form-group">
                <textarea class="form-control" placeholder="Ask a question." id="QuestionText"></textarea>
            </div>

            <button type="submit" class="btn btn-success">Get Help Now</button>
        </form>
    </div>
</section>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        CKEDITOR.replace('QuestionText');
    });
</script>